<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link
          {{#if home}}
            active disabled" 
          {{/if}}
          " aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link 
          {{#if games}}
            active disabled" 
          {{/if}}
          aria-current="page" href="/games">Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link
          {{#if createGame}}
            active disabled" 
          {{/if}}
          " href="/games/create">CreateGame</a>
        </li>
      </ul>
      <form class="d-flex" role="search" action="/games">
        <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>