
<form method="POST" action="/games">
    <div>
        Game Name: <input type="text" name="name"/>
    </div>
    <div>
        Game Description: <input type="text" name="description"/>
    </div>
    <input type="submit">
</form>
